# WordPress Service Configuration
NEXT_PUBLIC_WORDPRESS_URL=https://media.arvishhafoundation.org
WORDPRESS_API_URL=https://media.arvishhafoundation.org/wp-json

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://arvishhafoundation.org
NEXT_PUBLIC_SITE_NAME="Arvishha Foundation"
